window,
html,
body {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

.heart {
  cursor: pointer;
}

.ui.cards > .ui.card:hover {
  transform: translateY(-3px);
}

/* Inverted UI */

.app-inverse {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
}

.inverse {
  background: #1b1c1d !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.inverse-search input,
.inverse-search div div {
  background: gray !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

span,
.cardcontent {
  margin: 25px;
}

.small {
  margin: 20px auto;
}

.tiny {
  margin-bottom: 5px;
}

.center.aligned.row {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .ui.five.cards {
    margin-top: 1rem;
  }
}
