html,
body {
  height: 100%;
}

.heart {
  cursor: pointer;
}

.ui.cards > .ui.card:hover {
  transform: translateY(-3px);
}

/* Inverted UI */

.app-inverse {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  height: 100vh;
}

.inverse {
  background: #1b1c1d !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

span,
.cardcontent {
  margin: 25px;
}

.medium {
  margin: 0 auto;
}
